.center {
	text-align: center;
}
.center img{
	display:inline-block;
	padding-right: 25px;
}
.center2 img{
	display:inline-block;
	float: left;
	padding-right: 40px;
}
.small {
    display: inline;
	float:right;
	padding-left: 75px;

}
.center2 p{
	position:absolute;
	top:410px;
	left:610px;
}
.vertical {
	vertical-align: middle;
	padding-top: 100px;
	padding-bottom:70px;
}
.list li{
	float:left;
	list-style-type:none;
}
.buy {
	border:solid;
	border-color:lime;
	border-radius:45px;
	background-color:lime;
	font-size:30px;
	text-decoration: none;
	color:white;
	padding-height:35px;
	padding-width:20px;
	vertical-align: middle;
}
.learn {
	border:solid;
	border-color:lime;
	border-radius:30px;
	background-color:lime;
	font-size:20px;
	text-decoration: none;
	color:white;
	border-width:20px;
	vertical-align: middle;
}
.ok {
	border:solid;
	border-color:lime;
	border-radius:15px;
	background-color:lime;
	font-size:15px;
	text-decoration: none;
	color:white;
	border-width:10px;
	vertical-align: middle;
}
nav.navigation {
	text-decoration:none;
}